# On définit la variable d'environnement APP_PORT qui sera utilisée par le serveur
APP_PORT = 3500

# Secret JWT Key & Lifetime
JWT_SECRET = "SECRET_KEY"
# JWT LIFETIME of <time> hours in milliseconds
JWT_LIFETIME = 0

# SALT for password hashing
SALT = 10

# Database connection configs
# On définit la variable d'environnement MONGO_URI qui sera utilisée pour se connecter à la base de données
MONGO_URI = "mongodb+srv://<username>:<password>@<clusterName>.pqmeh.mongodb.net/<databaseName>?retryWrites=true&w=majority"

# Google Auth Configs
GOOGLE_CLIENT_ID = "domain-name.com"
GOOGLE_CLIENT_SECRET = "SECRET_KEY"